body{
    margin: 0 auto;
    max-width: 1280px;

}

body{
    background: rgb(18, 1, 80);
    
}

.rosa{
    font-family: fantasy;
    color: rgb(238, 238, 238);
    font-size: 30px;

}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

.texto1{
    color: antiquewhite;
    font-family: fantasy;
}


.negritotitulo{
    color:#420366
}


.negrito{
    color: rgb(93, 91, 94);
}

.negritodeus{
    color: rgba(97, 7, 7, 0.76);
}

.painelgeral{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    z-index: -1;
 
}



.titulo{
    color: aliceblue;
    font-style: italic;
    font-size: 65px ;
    width: 30%;

}

.listapl{
    color: aliceblue;
    font-family: fantasy;

}

.botao{
    background-color: #fcf9ff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    border-color: #1b012b;
}



.imagem {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: none;
}



.information {
    display: none;
}

.information.ativa {
    display: block;
}


.information h1 {
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 80px;
    font-family: "Pacifico";
    letter-spacing: 8px;
}

.information .description{
    width: 49%;
    font-size: 24px;
    color: #ffffff;
    line-height: 40px;
    height: 300px;
    overflow: auto;
    padding-right: 15px;
}

.imagem.ativa {
    display: block;
    animation: mudarImagem 0.9s;
}


@keyframes mudarImagem {
    from {
        opacity: 0.90;
    }
    to {
        opacity: 1.5;
    }
}

main:after {
    content: "";
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(120deg, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgb(0, 0, 0) 90%);
    z-index: -1;
}
